<style type="text/css">
	h2{
		color: darkblue;
		text-decoration: underline;

	}
	</style>
	<style type="text/css">
	p{
		color: seagreen;
		font-style:italic;
		font-size: medium;
	}
	</style>
	<style type="text/css">
	ul{
		font-style: italic;
	}
	</style>
	<style type="text/css">
	a{
		color:purple;
	}
	</style>
	<style type="text/css">
	h3{
		color:darkturquoise;
	}
	</style>
	<style type="text/css">
	body{
		background-color: lightseagreen;
	}
	</style>
	<style type="text/css">
	#Billiards{
		color:forestgreen;
	}
	</style>
	<style type="text/css">
	#Tacos{
		color: yellow;
		}
	</style>
	<style type="text/css">
	#Channel{
		color: royalblue;
	}
	#CueSports{
		color: darkorange;
	}
	</style>
	<style type="text/css">
	.bluep{
		color: honeydew;
	}
	#d3{
		background-color: magenta;
	}
	#d2{
		background-color: steelblue;
	}
	#d1{
		background-color: peachpuff;
	}
	#d54{
		background-color: darkkhaki;
	}
	#tacotypes{
		color: deepskyblue;
	} 
	form{
		font-style: italic;
		border-style: :solid;
	}
	</style>